* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #F4F1EA;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
}

.book {
  padding: 36px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.book__image {
  height: 384px;
  object-fit: cover;
  flex-grow: 0;
}

.book__info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  flex-grow: 1;
}

.book__info__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.book__info__header__info {
  margin-top: 16px;
}

.book__info__header__info__title {
  color: #262626;
  font-size: 36px;
  font-weight: 600;
}

.book__info__header__info__author {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

.book__info__header__info__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  gap: 0;
}

.book__info__header__info__rating__star {
  filter: invert(67%) sepia(79%) saturate(1071%) hue-rotate(350deg) brightness(103%) contrast(96%);
  width: 16px;
}

.book__info__header__info__rating__empty {
  filter: invert(94%) sepia(13%) saturate(16%) hue-rotate(352deg) brightness(81%) contrast(86%);
  width: 16px;
}

.book__info__header__info__rating_text {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  padding-left: 4px;
}

.book__info__header__info__ratings {
  color: #262626;
  font-size: 12px;
  font-weight: 400;
}

.book__info__summary {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
}

.book__info__header__buttons__more {
  width: 36px;
  position: relative;
  display: inline;
}

.book__info__header__buttons__more__items {
  display: none;
  flex-direction: column;
  border-radius: 8px;
  right: 0;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 192px;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
  z-index: 1;
  transform: translateY(-4px);
}

.book__info__header__buttons__more__items__item {
  padding: 8px;
}

.book__info__header__buttons__more__items__item:hover {
  background-color: #F0F0F0;
}

.book__info__header__buttons__button {
  width: 36px;
}

.book__info__header__buttons__button--heart {
  filter: invert(17%) sepia(67%) saturate(5118%) hue-rotate(349deg) brightness(107%) contrast(92%);
}

.book__info__header__buttons__button--bookmark {
  filter: invert(67%) sepia(79%) saturate(1071%) hue-rotate(350deg) brightness(103%) contrast(96%);
}

.book__info__download__div {
  margin-top: 16px;
  width: 128px;
  height: 36px;
  position: relative;
}

.book__info__download {
  background-color: #52C41A;
  border-radius: 9999px;
  width: 128px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
}

.book__info__download__items {
  display: none;
  flex-direction: column;
  border-radius: 8px;
  right: 0;
  position: absolute;
  background-color: #52C41A;
  min-width: 128px;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
  z-index: 1;
  transform: translateY(-4px);
}

.book__info__download__items__item {
  padding: 8px;
  color: #FFFFFF;
}

.book__info__download__items__item:hover {
  background-color: #73D13D;
}

.book__info__download__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.book__info__download__arrow {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(156deg) brightness(102%) contrast(101%);
  width: 24px;
}

.details {
  padding-left: 36px;
  padding-right: 36px;
}

.details__about {
  color: #262626;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.details__description {
  margin-top: 16px;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

.details__review {
  color: #262626;
  font-size: 24px;
  font-weight: 600;
  margin-top: 36px;
  text-align: center;
}

.details__review__text {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  text-align: start;
}

.details__review__stars {
  display: flex;
  flex-direction: row;
}

.details__review__stars__star {
  filter: invert(94%) sepia(13%) saturate(16%) hue-rotate(352deg) brightness(81%) contrast(86%);
  width: 24px;
}

.details__review__stars__star--gold {
  filter: invert(67%) sepia(79%) saturate(1071%) hue-rotate(350deg) brightness(103%) contrast(96%);
  width: 24px;
}

.details__review__more {
  display: flex;
  flex-direction: column;
}

.details__review__more__button {
  background-color: #52C41A;
  border-radius: 9999px;
  border: none;
  width: 128px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
}

.details__review__more__button__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.details__review__more__text {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.details__review__more__input {
  flex-grow: 1;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 0;
  outline: 0;
  flex: 1;
  resize: vertical;
  padding: 12px;
  border-radius: 24px;
  background-color: white;
  color: #262626;
  font-size: 16px;
  font-weight: 500;
}

.details__reviews {
  margin-top: 24px;
}

.details__reviews__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.details__reviews__item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details__reviews__item__header__image {
  flex-grow: 0;
  height: 36px;
}

.details__reviews__item__header__info {
  flex-grow: 100;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.details__reviews__item__header__info__top {
  display: flex;
  flex-direction: row;
}

.details__reviews__item__header__info__top__name {
  color: #262626;
  font-size: 16px;
  font-weight: 600;
}

.details__reviews__item__header__info__top__rated {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  padding-left: 4px;
}

.book__info__header__info__rating {
  display: flex;
  flex-direction: row;
}

.details__reviews__item__header__info__top__rating {
  padding-left: 4px;
}

.details__reviews__item__header__info__date {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

.details__reviews__item__header__buttons {
  flex-grow: 1;
}

.details__reviews__item__header__buttons__button {
  height: 24px;
}

.details__reviews__item__description {
  margin-top: 16px;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .book {
    flex-direction: column;
  }
  .book__image {
    align-self: center;
    flex: 0 0 auto;
  }
}
@media (max-width: 512px) {
  .details__reviews__item__header {
    flex-direction: column;
    gap: 8px;
  }
  .details__reviews__item__header__buttons__button {
    display: none;
  }
}

/*# sourceMappingURL=book.css.map */
