$neutral-white: #FFFFFF;
$neutral-200: #F0F0F0;
$neutral-400: #BFBFBF;
$neutral-700: #434343;
$neutral-800: #262626;

$primary-100: #F4F1EA;

$positive-500: #52C41A;
$positive-600: #389E0D;

$warning-500: #FAAD14;

$svg-error-500: invert(17%) sepia(67%) saturate(5118%) hue-rotate(349deg) brightness(107%) contrast(92%);
$svg-positive-600: invert(70%) sepia(80%) saturate(6295%) hue-rotate(71deg) brightness(98%) contrast(90%);
$svg-warning-500: invert(67%) sepia(79%) saturate(1071%) hue-rotate(350deg) brightness(103%) contrast(96%);
$svg-neutral-700: invert(27%) sepia(1%) saturate(725%) hue-rotate(62deg) brightness(92%) contrast(95%);
$svg-neutral-400: invert(94%) sepia(13%) saturate(16%) hue-rotate(352deg) brightness(81%) contrast(86%);