@import "colors";
@import "sizes";
@import "other";

.sidebar {
  min-width: $xl;
  background-color: $neutral-white;
  position: fixed;
  height: 100%;

  border-right: 1px solid $neutral-400;
  box-shadow: $surface-right-lg;
}

.sidebar__items {
  padding-top: $s;
  padding-bottom: $s;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $m;
}

.sidebar__scrollable {
  width: 100%;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $m + 8; /* Adjust gap as needed */
  max-height: calc(100vh - 200px); /* Adjust max-height as needed */
  position: relative; /* Relative positioning for pseudo-elements */
}

.sidebar__scrollable::before,
.sidebar__scrollable::after {
  content: '\25b2'; /* Unicode for upward arrow */
  font-size: 10px; /* Adjust arrow size */
  color: $neutral-800; /* Color of arrows */
  position: fixed; /* Fixed positioning relative to viewport */
  left: 30px; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Ensure indicators don't interfere with scrolling */
  transition: opacity 0.3s ease-out; /* Fade animation */
  cursor: pointer; /* Add pointer cursor */
  z-index: 1000; /* Ensure arrows appear above other content */
}

.sidebar__scrollable::before {
  top: 55px; /* Adjust distance from top */
}

.sidebar__scrollable::after {
  content: '\25bc'; /* Unicode for downward arrow */
  bottom: 120px; /* Adjust distance from bottom */
}

.sidebar__scrollable.scrollable-top::before,
.sidebar__scrollable.scrollable-bottom::after {
  opacity: 1; /* Show arrows when appropriate */
}



.sidebar__items--bottom {
  position: absolute;
  bottom: 0;
}

.sidebar__items__profile {
  width: $s * 3;
}

.sidebar__items__container {
  width: 100%;
  height: $s * 3;
  display: flex;
  align-content: center;
  justify-content: center;
}

.sidebar__items__container__item {
  width: $m;
}

.sidebar__items__container__link {
  width: $m;
}

.sidebar__items__container--selected {
  border-left: 2px solid $positive-600;
}

.sidebar__items__container--selected .sidebar__items__container__item {
  filter: $svg-positive-600;
}

.sidebar-padded {
  padding-left: $xl;
  width: 100%;
}

.navbar {
  height: $xl;
  background-color: $neutral-white;
  position: fixed;
  width: 100%;

  border-bottom: 1px solid $neutral-400;
  box-shadow: $surface-bottom-md;

  display: none;
  top: 0;
  padding: $s;
}

.navbar__profile {
  height: $s * 3;
}

.navbar__links {
  margin-top: $xl;
  position: fixed;
  width: 100%;
  top: 0;

  background-color: $neutral-200;

  display: none;
  flex-direction: column;
  gap: $s;

  padding: $s;

  border-bottom: 1px solid $neutral-400;
  box-shadow: $surface-bottom-md;

  transition: all 0.25s ease-out;
}

.navbar__links__link {
  width: 100%;
  text-decoration: none;

  color: $neutral-800;
  font-size: $xs * 2;
  font-weight: 400;
}

.navbar__links--hidden {
  transform: translateY(-100%);

  transition: all 0.25s ease-out;
}

.navbar__menu {
  height: $m;
}

@media (max-width: 768px) {
  .sidebar-padded {
    padding-left: 0;
    padding-top: $xl;
  }

  .navbar__links {
    display: flex;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar {
    display: none;
  }
}
