@charset "UTF-8";
.sidebar {
  min-width: 64px;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  border-right: 1px solid #BFBFBF;
  box-shadow: 10px 0px 15px -3px rgba(31, 31, 31, 0.1);
}

.sidebar__items {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sidebar__scrollable {
  width: 100%;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px; /* Adjust gap as needed */
  max-height: calc(100vh - 200px); /* Adjust max-height as needed */
  position: relative; /* Relative positioning for pseudo-elements */
}

.sidebar__scrollable::before,
.sidebar__scrollable::after {
  content: "▲"; /* Unicode for upward arrow */
  font-size: 10px; /* Adjust arrow size */
  color: #262626; /* Color of arrows */
  position: fixed; /* Fixed positioning relative to viewport */
  left: 30px; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Ensure indicators don't interfere with scrolling */
  transition: opacity 0.3s ease-out; /* Fade animation */
  cursor: pointer; /* Add pointer cursor */
  z-index: 1000; /* Ensure arrows appear above other content */
}

.sidebar__scrollable::before {
  top: 55px; /* Adjust distance from top */
}

.sidebar__scrollable::after {
  content: "▼"; /* Unicode for downward arrow */
  bottom: 120px; /* Adjust distance from bottom */
}

.sidebar__scrollable.scrollable-top::before,
.sidebar__scrollable.scrollable-bottom::after {
  opacity: 1; /* Show arrows when appropriate */
}

.sidebar__items--bottom {
  position: absolute;
  bottom: 0;
}

.sidebar__items__profile {
  width: 36px;
}

.sidebar__items__container {
  width: 100%;
  height: 36px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.sidebar__items__container__item {
  width: 24px;
}

.sidebar__items__container__link {
  width: 24px;
}

.sidebar__items__container--selected {
  border-left: 2px solid #389E0D;
}

.sidebar__items__container--selected .sidebar__items__container__item {
  filter: invert(70%) sepia(80%) saturate(6295%) hue-rotate(71deg) brightness(98%) contrast(90%);
}

.sidebar-padded {
  padding-left: 64px;
  width: 100%;
}

.navbar {
  height: 64px;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
  display: none;
  top: 0;
  padding: 12px;
}

.navbar__profile {
  height: 36px;
}

.navbar__links {
  margin-top: 64px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #F0F0F0;
  display: none;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid #BFBFBF;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
  transition: all 0.25s ease-out;
}

.navbar__links__link {
  width: 100%;
  text-decoration: none;
  color: #262626;
  font-size: 16px;
  font-weight: 400;
}

.navbar__links--hidden {
  transform: translateY(-100%);
  transition: all 0.25s ease-out;
}

.navbar__menu {
  height: 24px;
}

@media (max-width: 768px) {
  .sidebar-padded {
    padding-left: 0;
    padding-top: 64px;
  }
  .navbar__links {
    display: flex;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar {
    display: none;
  }
}

/*# sourceMappingURL=sidebar.css.map */
