* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #F4F1EA;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: start;
  padding: 64px;
  flex-wrap: wrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.books__title__text {
  margin-top: 24px;
  color: #262626;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.books__items {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: start;
  margin-top: 24px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.books__items::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.books__items__item {
  width: 192px;
  height: 216px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
  text-decoration: none;
  overflow: hidden;
  flex-shrink: 0;
}

.books__items__item__cover {
  width: 100%;
  height: 112px;
  background-color: #F0F0F0;
  position: relative;
  overflow: clip;
}

.books__items__item__cover__image {
  height: 128px;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  position: absolute;
}

.books__items__item__data {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.books__items__item__data__title {
  color: #262626;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.books__items__item__data__author {
  color: #262626;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.books__list__item__info__rating {
  padding-left: 8px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.books__list__item__info__rating__star {
  filter: invert(67%) sepia(79%) saturate(1071%) hue-rotate(350deg) brightness(103%) contrast(96%);
  width: 12px;
}

.books__list__item__info__rating__empty {
  filter: invert(94%) sepia(13%) saturate(16%) hue-rotate(352deg) brightness(81%) contrast(86%);
  width: 12px;
}

.books__list__item__info__rating_text {
  color: #262626;
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin-left: 2px;
}

.books__list__item__info__ratings {
  padding-left: 8px;
  padding-bottom: 4px;
  color: #262626;
  font-size: 12px;
  font-weight: 400;
}

.books__sort {
  margin-left: 64px;
  margin-top: 16px;
  height: 36px;
  position: relative;
}

.books__sort__button {
  width: auto;
  background-color: #FFFFFF;
  border-radius: 9999px;
  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
}

.books__sort__button__text {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.books__sort__items {
  display: none;
  flex-direction: column;
  border-radius: 8px;
  left: 0;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 256px;
  box-shadow: 0px 4px 6px -1px rgba(31, 31, 31, 0.1);
  z-index: 1;
  transform: translateY(-4px);
}

.books__sort__items__item {
  padding: 8px;
  color: #262626;
}

.books__sort__items__item:hover {
  background-color: #F0F0F0;
}

/*# sourceMappingURL=view_books.css.map */
