$primary-color: #CCE4F1;
$secondary-color: #EEDAF1;
$tertiary-color: #EEDBD1;
$sidebar-bg-color: hsl(266, 41%, 97%);
$input-bg-color: #eff3f6;
$form-bg-color: #f4f1ea;
$button-bg-color: #57b846;
$button-hover-color: #409e15;
$text-color: #333;
$shadow-color: rgba(0, 0, 0, 0.1);

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  display: flex;
  background: linear-gradient(-135deg, $primary-color, $secondary-color, $tertiary-color);
}

.container {
  width: 100%;  
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.sidebar {
  min-width: 85px; /* Arbitrary width for the sidebar */
  background-color: $sidebar-bg-color;
  position: sticky;
  float: left;
}

.container__wrapper {
  flex-grow: 1;
  width: auto;
  height: auto;
  padding: 15px;
  background: $form-bg-color; /* Changed from #f4f1ea to $input-bg-color */
  border-radius: 10px;
  box-shadow: 0 4px 8px $shadow-color;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header__title {
  font-size: 24px;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group__label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-group__input,
.input-group__textarea {
  font-family: 'Fira Sans', sans-serif;
  background: $input-bg-color;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-group__textarea {
  resize: vertical;
  min-height: 200px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.file-upload-wrapper {
  width: calc(50% - 10px);
  border: 1px dashed #999999;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
}

.file-upload-wrapper:hover {
  background-color: #f9f9f9;
}

.add-member-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-members-btn {
  background-color: $button-bg-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.add-members-btn:hover {
  background-color: $button-hover-color;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .container__wrapper {
    width: 100%;
  }
}
