* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background: #eff3f6;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 85px;
  background-color: #f4f1ea;
  position: fixed;
  height: 100vh;
}

.group-info-wrapper {
  position: fixed;
  top: 0;
  left: 85px;
  right: 0;
  z-index: 1;
}

.group-info-wrapper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.group-info {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #000;
}

.content {
  margin-left: 85px;
  padding: 20px;
  margin-top: 120px;
}

.group-sections {
  display: flex;
  flex-direction: column;
}

.group-section {
  margin-bottom: 20px;
}

.group-section__title {
  font-size: 16px;
  color: #333;
}

.group-section__item {
  font-size: 14px;
}

.members-sidebar {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: fixed;
  right: 20px;
  width: 200px;
  margin-top: 160px;
}

.members-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.members-header__title {
  font-size: 16px;
  color: #333;
}

.members-header__invite-btn {
  background-color: #52c41a;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.members-header__invite-btn:hover {
  background-color: #409e15;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.member__avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.member__name {
  font-size: 14px;
}
