body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .sidebar {
    width: 75px; 
    background-color: #f4f1ea;
    height: 100vh;
    float: left;
  }
  
  .content {
    margin-left: 75px; /* Match the sidebar width */
    padding: 20px;
    background-color: #ffffff;
  }
  
  header {
    color: #1f1f1f;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  
  .book-section {
    margin-bottom: 20px;
  }
  
  .book-section h2 {
    font-size: 24px;
    font-weight: 600;
    color: #262626;
    margin-bottom: 10px;
  }
  
  .members-section {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f4f1ea;
    padding: 10px;
    border: 1px solid #000;
  }
  
  .members-section h3 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
  }
  
  #invite-btn {
    background-color: #57b846;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
  }
  