@import "common";
@import "sizes";
@import "other";
@import "colors";

$primary-color: #CCE4F1;
$secondary-color: #EEDAF1;
$tertiary-color: #EEDBD1;
$sidebar-color: #f6f3fa;
$about-bg-color: #f4f1ea;

.sidebar {
  min-width: 85px;
  background-color: $sidebar-color;
  position: fixed;
  height: 100%;
}

.about-wrapper {
  background: $neutral-white;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 80%;
  margin: 50px auto 0;

  .about-content {
    padding-top: $m;
    padding-left: $m;
    padding-right: $m;

    .card {
      margin-bottom: 30px;
      padding: 20px;
      border-radius: 8px;

      .card__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      .card__hr {
        margin-top: 0;
        margin-bottom: $m;
      }

      .card__paragraph {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width: 1280px) {
  .about-wrapper {
    max-width: 70%; /* Adjust max-width for tablets */
  }
}

@media (max-width: 1024px) {
  .about-wrapper {
    max-width: 80%; /* Adjust max-width for tablets */
  }
}

@media (max-width: 767px) {

  .about-wrapper {
    margin-top: $xl * 1.5;
    width: 90vw;
    margin-left: $m;
    margin-right: $m;
    margin-bottom: $m auto;
  }
}