$neutral-white: #FFFFFF;
$neutral-400: #BFBFBF;

$primary-100: #F4F1EA;

$positive-600: #389E0D;

$svg-positive-600: invert(70%) sepia(80%) saturate(6295%) hue-rotate(71deg) brightness(98%) contrast(90%);