@import "../Styling/common";
@import "../Styling/colors";
@import "../Styling/sizes";
@import "../Styling/other";

.list {
  width: 100%;
}

.books {
  width: 100%;
  padding: $s * 3;
}

.books__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.books__header__arrow {
  width: $s * 3;
}

.books__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.books__title__text {
  color: $neutral-800;
  font-weight: 600;
  font-size: $m;
  text-align: center;
}

.books__title__subtitle {
  color: $positive-500;
  font-weight: 500;
  font-size: $s;
  text-align: center;
}

.books__items {
  display: flex;
  flex-direction: row;
  gap: $m;
  justify-content: center;
  margin-top: $m;
  flex-wrap: wrap;
}

.books__items__item {
  width: $xl * 2;
  height: $xl * 2;
  border-radius: $xs;
  background-color: $neutral-white;
  box-shadow: $surface-bottom-md;
  text-decoration: none;
}

.books__items__item__cover {
  width: 100%;
  height: $xl + $xs * 2;
  background-color: $neutral-200;
  position: relative;
  overflow: clip;
}

.books__items__item__cover__image {
  height: $xl + $m;
  left: 50%;
  transform: translateX(-50%);
  top: $xs;
  position: absolute;
}

.books__items__item__data {
  padding-left: $xs;
  padding-top: $xs / 2;
}

.books__items__item__data__title {
  color: $neutral-800;
  font-weight: 600;
  font-size: $s;
  margin-bottom: $xs / 4;
}

.books__items__item__data__author {
  color: $neutral-800;
  font-weight: 400;
  font-size: $xs;
}